<header class="navHeader">
    <nav>
        <h1>Home Inventory</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/myHome">MyHome</a></li>
            <li><a href="/myHome/items-managment">Items Managment</a></li>
        </ul>
    </nav>
</header>